<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact - BDE Paris Ynov Campus</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Accueil</a></li>
          <li><a href="/events">Événements</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/boutique">Boutique</a></li>
          <li><a href="/login">login</a></li>
        </ul>
      </nav>
      <h1>BDE Paris Ynov Campus</h1>
      <img src="BDE-main_logo.png" alt="Logo BDE Vert" class="logo-vert" />
      <img src="BDE-logo_noir.png" alt="Logo BDE Noir" class="logo-noir" />
    </header>

    <main>
      <h2>Nos Membres</h2>
      <section class="team">
        <% members.forEach(member => { %>
        <div class="team-member">
          <img
            src="/<%= member.photo %>"
            alt="Photo de <%= member.name %>"
            class="team-member-photo"
          />
          <h3><%= member.name %></h3>
          <p><strong>Email :</strong> <%= member.email || 'Non renseigné' %></p>
          <p>
            <strong>Passion :</strong> <%= member.passion || 'Non renseignée' %>
          </p>
          <p><strong>Numéro :</strong> <%= member.phone || '06XXXXXXXX' %></p>
        </div>
        <% }) %>
      </section>
    </main>

    <footer>
      <p>
        Suivez-nous sur Instagram :
        <a href="https://www.instagram.com/ynovparisbde/" target="_blank"
          >@ynovparisbde</a
        >
      </p>
    </footer>
  </body>
</html>
